body {
  background-image: linear-gradient(to right top, #000000, #532623, #975420, #bb9900, #a8eb12);
}

.portSection .vtbegenerated{
  background: radial-gradient(transparent, #00000054);
  /*background: radial-gradient(#0008ff00, #ffbb00ad);*/
  box-shadow: 10px 5px grey;
  height: 75px;
  width: 480px;
  border: solid;
  padding: 10px;
  margin: 0px 0px 10px;
  border-radius: 5px;
}
.portSection .vtbegenerated .overlay {
  position: relative;
  bottom: 0;
  background: radial-gradient(#00000017, #00000082);
  text-shadow: 0 0 3px #000000, 0 0 5px #ffbb00;
  transition: .5s ease;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  margin-bottom: -50px;
  left: 653px;
  top: 156px;
  width: 185px;
  height: 24px;
  border-radius: 3px;
  border-top: 2px solid;
}

#portText {
  padding: 5px 30px 12px;
  background-color: lightgray;
  
}

#portBody {
  min-height: 70px;
  border-radius: 5px;
  background-color: lightgray;
  border: solid #3d3d3d;
}

#portNav {
  border: 3px solid #3D3D3D;
}

#portNav ul {
  padding: 0px 0px 0px 137px;
}

#portNav ul li {
  text-transform: uppercase;
}

#portNav ul li a {
  text-align: center;
  font-weight: bold;
  transition: 0.6s;
}
 
#portNav ul li a:hover{
  text-shadow: 0 0 3px #000000, 0 0 5px #ffbb00;
  color: lightgray;
  background-color: lightgray;
}

#portText .portSection h3.section-title {
  text-shadow: 0 0 3px #000000, 0 0 5px #ffbb00;
  font-size: 140%;
}

#portText > h2 {
  text-shadow: 0 0 3px #000000, 0 0 5px #ffbb00;
  padding-left: 355px;
  font-size: 222%;
}



