body {
 background-color: rgb(255, 187, 0)!important;
 height: 100%;
 width: 100%;
 background: url();
 /*font-family: ;*/
}

.portSection .vtbegenerated{
  background: radial-gradient(transparent, #00000054);
  box-shadow: 10px 5px grey;
  height: 75px;
  width: 480px;
  border: solid;
  padding: 10px;
  margin: 0px 0px 10px;
  border-radius: 5px;
}

#portText {
  padding: 5px 30px 12px;
  background-color: lightgray;
  
}

#portBody {
  min-height: 70px;
  border-radius: 5px;
  background-color: lightgray;
  border: solid #3d3d3d;
}

#portNav {
  border: 3px solid #3D3D3D;
}

#portNav ul {
  padding: 0px 0px 0px 180px;
}

#portNav ul li {
  text-transform: uppercase;
}
 
#portNav ul li:hover{
  text-shadow: 0 0 3px #000000, 0 0 5px #ffbb00;
}

#portNav ul li a {
 text-align: center;
 font-weight: bold;
}

#portText .portSection h3.section-title {
  text-shadow: 0 0 3px #000000, 0 0 5px #ffbb00;
  font-size: 140%;
}

#portText > h2 {
  text-shadow: 0 0 3px #000000, 0 0 5px #ffbb00;
  padding-left: 355px;
  font-size: 222%;
}



