body {
  background-image: linear-gradient(to right top, #000000, #532623, #975420, #bb9900, #a8eb12);
  height: 100%;
  width: 100%;
  background-repeat: repeat;
 }

#portBody{
  min-height: 70px;
  border-radius: 5px;
  background-color: lightgray;
  border: solid #3d3d3d;
}

#portNav{
  border: 3px solid #3D3D3D;
}

#portNav ul{
  padding: 0px 0px 0px 137px;
}

#portNav ul li{
  text-transform: uppercase;
}

#portNav ul li a{
 text-align: center;
 font-weight: bold;
 transition: 0.6s;
}

#portNav ul li a:hover{
  text-shadow: 0 0 3px #000000, 0 0 5px #ffbb00;
  color: lightgray;
  background-color: lightgray;
}

.portSection .vtbegenerated{
  background: radial-gradient(transparent, #00000054);
  box-shadow: 10px 5px grey;
  border: solid;
  border-radius: 5px;
  margin: 10px;
  padding-left: 30px;
  padding: 10px;
}

#portText .portSection h3.section-title{
  text-shadow: 0 0 3px #000000, 0 0 5px #ffbb00;
  font-size: 140%;
}

#portText > h2{
  text-shadow: 0 0 3px #000000, 0 0 5px #ffbb00;
  padding-left: 335px;
  font-size: 400%;
}

/* Accordion Took me a while to figure it out */
/*
#portBody .portSection div.vtbegenerated {
  display: none;
}
#portBody .portSection:hover div.vtbegenerated{
  display: inherit;
  text-align:center;
  font-size: 15px;;
}
*/
/* Section Text Center*/
/*
#portBody .portSection div.vtbegenerated,h3 {
  text-align: center;
}

#portText .portSection h3.section-title {
  color: white;
  font-size:3.5vmin;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  text-transform: capitalize;
  border-radius: 25px;
  border: 2px solid #ff5f45;
  text-align:center;
  padding:10px 0px;
  margin-top:50px;
  width:50%;
  left: 50%;
  top: 50%;
  transform: translate(50%, -50%);
}
*/

#portText .portSection h3 {
  display: block;
  margin: 5px;
  padding: 2px;
  align-content: center;
  text-align: center;
}
.autoClickOnArtifactPreview {
  background: radial-gradient(transparent, #00000054);
  border: 1px solid #3D3D3D;
  box-shadow: 10px 5px grey;
  border-radius: 5px;
  padding: 10px;
  transition: 0.6s;
}
.autoClickOnArtifactPreview:hover{
  text-shadow: 0 0 3px #000000, 0 0 5px #ffbb00;
  color: lightgray;
  background-color: lightgray;
}